---
import { ClientRouter } from "astro:transitions";
import { Image } from "astro:assets";
import "../styles/global.css";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="cat">
    <head>
        <ClientRouter />
        <meta charset="UTF-8" />
        <meta name="description" content="Alzina o Roure?" />
        <meta name="viewport" content="width=device-width" />
        <meta
            name="keywords"
            content="Alzina, Roure, joc, diferencies entre alzina i roure"
        />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link href="/src/styles/global.css" rel="stylesheet" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <header>
            <div class="flex flex-col items-center m-8 align-middle">
                <h1 class="text-5xl">{title}</h1>
            </div>
        </header>
        <main>
            <div class="flex flex-col items-center m-8 align-middle">
                <slot />
            </div>
        </main>
        <footer>
            <div class="flex justify-center mb-6 mt-4">
                RaMoWeb © {new Date().getFullYear()}
            </div>
        </footer>
    </body>
</html>

<style is:global>
    html {
        font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
            "Liberation Mono", "Courier New", monospace;
        background-color: #000;
        color: #fff;
    }
</style>
